* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.about-main {
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-inner {
    width: 50%;
    margin: 0 auto;
  }

  .about-title {
    font-size: 4rem;
  }

  .about-text {
    font-size: 2rem;
  }

  hr {
    height: 4px;
    background-color: black;
    border: 0;
  }
  
  @media screen and (max-width: 600px) {
    .my-name {
      font-size: 3rem;
    }
  
    .my-roles {
      font-size: 2rem;
    }
  }
  