.about-main {
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-inner {
    width: 50%;
    margin: 0 auto;
  }

  .about-title {
    font-size: 4rem;
  }

  .about-text {
    font-size: 2rem;
  }

  hr {
    height: 4px;
    background-color: black;
    border: 0;
  }