.contact-main {
    display: flex;
    flex-direction: column;
    padding-top: 10rem;
}

.contact-inner {
    margin: 0 auto;
    display: flex;
    height: 90vh;
    flex-direction: column;
}

.contact-title {
    font-size: 4rem;
    padding-bottom: 3.5rem;
    text-align: center;
}

.contact-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 1.5rem;
    gap: 10rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-bottom: 5rem;
}

input,
textarea {
    width: 100%;
    padding: .8rem;
    border: thin;
    margin: .5rem;
    font-size: 1rem;
}

label {
    font-size: 1.5rem;
    margin: .5rem;
}

#contact-button,
#download-btn {
    width: 25%;
    margin-left: 0.5rem;
    display: flex;
    justify-content: center;
}

.resume {
    display: flex;
    flex-direction: row;
    align-items: center;
}

p {
    font-size: 1.8rem;
}

.contact-name {
    font-size: 2.5rem;
}

.connected-text {
    font-size: 3rem;
    display: flex;
}

.email-link:hover {
    text-decoration: underline;
    color: rgb(24, 24, 187);
}

.contact-info-message {
    font-size: 3rem;
}

.form-message,
.contact-info-message {
    font-size: 3rem;
    text-align: center;
}

.contact-message {
    font-size: 1.9rem;
    text-align: center;
}

.icon {
    font-size: xx-large;
}

/* @media only screen and (max-width: 600px) {
    .contact-form {
      width: 100%;
      margin: 0;
    }
    
    .form-group {
      width: 100%;
      margin-bottom: 1rem;
    }
    
    .form-control {
      width: 100%;
      padding: .375rem .75rem;
      font-size: 1rem;
      line-height: 1.5;
    }
  } */

/* For medium devices (tablets) */
@media only screen and (max-width: 992px) {

    .contact-body {
        flex-direction: column;
        gap: 5rem;
    }

    .contact-form {
        width: 80%;
        margin: 0 auto;
    }

    .form-group {
        width: 100%;
        margin-bottom: 1rem;
    }

    .form-control {
        width: 100%;
        padding: .375rem .75rem;
        font-size: 1.2rem;
        line-height: 1.5;
    }

    p,
    .icon {
        font-size: 1.4rem;
    }

    .btn {
        font-size: .8rem !important;
    }

    .form-message,
    .contact-info-message {
        font-size: 3rem;
    }

}

@media only screen and (max-width: 776px) {

    .form-message,
    .contact-info-message {
        font-size: 2rem;
    }

    .contact-name {
        font-size: 1.8rem;
    }
    .contact-message {
        font-size: 1.4rem;
        text-align: center;
    }

}