.contact-main {
    display: flex;
    flex-direction: column;
    padding-top: 10rem;
}

.contact-inner {
    margin: 0 auto;
    display: flex;
    height: 90vh;
    flex-direction: column;
}

.contact-title {
    font-size: 4rem;
    padding-bottom: 3.5rem;
    text-align: right;
}

.contact-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: .5rem;

}

input, textarea{
    width: 100%;
    padding: .8rem;
    border: thin;
    margin: .5rem;
    font-size: 1rem;
}

label {
    font-size: 1.2rem;
    margin: 1rem;
}

#contact-button {
    width: 25%;
    margin-left: 0.5rem;
    display: flex;
    justify-content: center;
}

p {
    font-size: 1.3rem;
}

.contact-name{
    font-size: 2rem;
}

.connected-text{
    font-size: 3rem;
    display: flex;
}

/* .contact-link {
    color: rgb(24, 24, 187);
} */

/* .contact-link:hover {
    text-decoration: underline;
    
} */

.contact-info-message {
margin-right: 15rem;
font-size: 3rem;
}

.form-message {
    font-size: 3rem;
    font-style: italic;
}

.contact-message {
    font-style: italic;
    font-size: 1.5rem;
}

@media only screen and (max-width: 600px) {
    .contact-form {
      width: 100%;
      margin: 0;
    }
    
    .form-group {
      width: 100%;
      margin-bottom: 1rem;
    }
    
    .form-control {
      width: 100%;
      padding: .375rem .75rem;
      font-size: 1rem;
      line-height: 1.5;
    }
  }
  
  /* For medium devices (tablets) */
  @media only screen and (min-width: 601px) and (max-width: 992px) {
    .contact-form {
      width: 80%;
      margin: 0 auto;
    }
    
    .form-group {
      width: 100%;
      margin-bottom: 1rem;
    }
    
    .form-control {
      width: 100%;
      padding: .375rem .75rem;
      font-size: 1.2rem;
      line-height: 1.5;
    }
  }
  