.contact-main {
    display: flex;
    flex-direction: column;
    padding-top: 10rem;
}

.contact-inner {
    width: 80%;
    margin: 0 auto;
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.contact-title {
    font-size: 4rem;
    padding-bottom: 3.5rem;
    text-align: right;
}

.contact-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

form {
    display: flex;
    flex-direction: column;
    gap: .5rem;

}

input, textarea{
    width: 100%;
    padding: .8rem;
    /* border-radius: 1rem; */
    border: thin;
    margin: .5rem;
    font-size: 1rem;
}

label {
    font-size: 1.2rem;
    margin: 1rem;
}

#contact-button {
    width: 25%;
    margin-left: 0.5rem;
    display: flex;
    justify-content: center;
}

p {
    font-size: 1.3rem;
}

.contact-name, .contact-info-message {
    font-size: 2rem;
}

.connected-text{
    font-size: 3rem;
    display: flex;
}

.contact-link {
    color: rgb(24, 24, 187);
}

.contact-link:hover {
    text-decoration: underline;
    
}