
.my-name {
    font-size: 5rem;
}

.my-roles {
    font-size: 4rem;
}

.home-main {
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #85BB65;
  }