.projects-main {
  display: flex;
  flex-direction: column;
}

.projects-inner {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.projects-title {
  font-size: 4rem;
  padding: 6rem 0 3rem 0;
  text-align: center;
}

.project-image {
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.project-description {
  font-size: 1.2rem;
  margin-top: 1rem;
}

.projects {
  font-family: 'Oswald', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 100%;
  margin: auto;
}

.project-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 3rem;
  background-color: #999999;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  text-align: center;
  margin: auto;
  gap: 2rem;
  margin-bottom: 2rem;
}

.project-container.reverse {
  flex-direction: column-reverse;
}

.project-btns {
  font-size: 1.2rem;
  display: flex;
  flex: row;
  justify-content: center;
  gap: 1rem;
}

.btn {
  display: flex;
  border-radius: 10px;
  gap: .5rem;
}

.project-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media screen and (min-width: 768px) {
  .projects {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .project-container {
    flex-direction: row;
    height: 500px;
    width: 100%;
    gap: 2rem;
  }

  .project-container.reverse {
    flex-direction: row-reverse;
  }
}