.projects-main {
  display: flex;
  flex-direction: column;
  padding-top: 7rem;
  /* min-width: 100vw; */
}

.projects-inner {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 5rem;
}

.projects-title {
  font-size: 4rem;
  padding-bottom: 2rem;
  text-align: center;
}

.project-image {
  height: 400px;
  max-width: 700px;
  object-fit: cover;
  border-radius: 10px;
  margin: 0 auto;
}

.project-image2 {
  display: none;
}

.project-description {
  font-size: 1.2rem;
  margin-top: 1rem;
}

.projects {
  font-family: 'Oswald', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 100%;
  margin: auto;
}

.project-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 3rem;
  border-radius: 20px;
  position: relative;
  text-align: center;
  margin: auto;
  gap: 2rem;
  margin-bottom: 2rem;
}

.project-container.reverse {
  flex-direction: column-reverse;
}

.project-btns {
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.btn {
  display: flex;
  border-radius: 10px;
  gap: .5rem;
}

.project-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media screen and (min-width: 1200px) {
  .projects {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .project-container {
    flex-direction: row;
    height: 500px;
    gap: 2rem;
  }

  .project-container.reverse {
    flex-direction: row-reverse;
  }
}

@media screen and (max-width: 1199px) {
  .project-container {
    height: auto;
    padding: 2rem;
    border-radius: 10px;
  }

  .project-btns {
    flex-direction: row;
  }

  .project-image {
    display: none;
  }

  .project-image2 {
    display: block;
    height: auto;
    max-width: 100%;
    border-radius: 10px;
  }

  .project-description {
    text-align: justify;
  }

  .project-subtitle {
    margin-bottom: 2rem;
    font-size: 1.2rem;
  }

  .project-title {
    font-size: 2rem;
  }

}

@media only screen and (max-width: 776px) {
  .projects-title {
    font-size: 2.2rem;
  }

  .projects-inner {
    width: 100%;
  }

}