* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #85BB65;
  height: 100%;
  width: 100%;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  background-color:black;
  color: black;
  padding: 15px;
  font-size: 2em;
}

.nav a {
  color: whitesmoke;
  text-decoration: none;
}
